html, body {
    background-color: black;
    height: 100%;
    width: 100%;
    background: url(https://media.giphy.com/media/UYBDCJjwOd9Re/giphy.gif) #000;
    color: white;
    font-family: 'Comic Neue', cursive;
    padding-top: 15px;
}

table, tr, td {
    background-color: transparent;
}

h1, h2 {
    font-size: 24px;
    padding: 15px 0;
    text-align: left;
    line-height: 24px;
    margin: 0;
}

.profileInfo, .extendedNetwork, .friendSpace, .statusInfo {
   border: #FF35D3 2px solid;
   margin-bottom: 20px;
   padding: 15px;
}

.giphy-embed {
    vertical-align: text-bottom;
    cursor: pointer;
    pointer-events: none;
}

iframe {
    cursor: pointer;
    pointer-events: none;

}

.profileInfo p {
    font-size: 14px;
}

.extendedNetwork p {
    font-size: 20px;
}

.left_padding {
    padding-left: 15px;
}

.top_margin {
    margin-top: 15px;
}

.bottom_margin {
    margin-bottom: 30px;
}

.top_padding {
    padding-top: 15px;
}

.profileDemographics {
    text-align: center;
}

.pink {
    color: #FF35D3;
}

.header-img {
    margin-bottom: 15px;
}
